---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();

---

<Layout title="Blog">
    <section>
        <h1>Blog</h1>
      {posts.length ? posts.map((post) => <Card post={post} />) : "no posts coming through"}
    </section>
  </Layout>
  