---
// Example usage of the Header Organism
import HomepageLayout from "../layouts/HomepageLayout.astro";
import HomepageBanner from "../components/organisms/HomepageBanner";
import Introductions from "../components/organisms/Introductions.astro";
---

<HomepageLayout title="Home">
  <main>
      <HomepageBanner client:load />
      <Introductions />

  </main>
</HomepageLayout>
