---
// Example usage of the Header Organism
import Layout from '../layouts/Layout.astro';
import HomepageBanner from '../components/organisms/HomepageBanner'
---
<Layout title='Home'>
<main>
  <HomepageBanner client:load />

  <h1>Welcome to the site</h1>
</main>
</Layout>
